# IPL 2022 auction analysis

In [8]:
#1] First we have to import librarires
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

Reading data

In [9]:
df = pd.read_csv('ipl_2022_dataset.csv')

In [10]:
df.shape

(633, 8)

In [11]:
df.columns

Index(['Unnamed: 0', 'Player', 'Base Price', 'TYPE', 'COST IN ₹ (CR.)',
       'Cost IN $ (000)', '2021 Squad', 'Team'],
      dtype='object')

How our data looks

In [12]:
df.sample()

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
70,70,Vicky Ostwal,20 Lakh,ALL-ROUNDER,0.2,26.0,NaN,Delhi Capitals

In [13]:
df.drop('Unnamed: 0', axis =1, inplace = True)

Information of data

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           633 non-null    object
 1   Base Price       633 non-null    object
 2   TYPE             633 non-null    object
 3   COST IN ₹ (CR.)  237 non-null    float64
 4   Cost IN $ (000)  237 non-null    float64
 5   2021 Squad       199 non-null    object
 6   Team             633 non-null    object
dtypes: float64(2), object(5)
memory usage: 34.7+ KB

In [15]:
df.isnull().sum()

Player               0
Base Price           0
TYPE                 0
COST IN ₹ (CR.)    396
Cost IN $ (000)    396
2021 Squad         434
Team                 0
dtype: int64

Treating Null Values in 'COST IN ₹ (CR.)' and 'Cost IN $ (000)'

In [16]:
df[df['Cost IN $ (000)'].isnull()]

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
237,Suresh Raina,2 Cr,BATTER,NaN,NaN,CSK,Unsold
238,Steve Smith,2 Cr,BATTER,NaN,NaN,DC,Unsold
239,Shakib Al Hasan,2 Cr,ALL-ROUNDER,NaN,NaN,KKR,Unsold
240,Amit Mishra,1.5 Cr,BOWLER,NaN,NaN,DC,Unsold
241,Adil Rashid,2 Cr,BOWLER,NaN,NaN,PBKS,Unsold
...,...,...,...,...,...,...,...
628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

These are the Players which went Unsold in 2022 Auctions so their Cost we can replace with ZERO

In [17]:
df['COST IN ₹ (CR.)'] = df['COST IN ₹ (CR.)'].fillna(0)
df['Cost IN $ (000)'] = df['Cost IN $ (000)'].fillna(0)

Treating Null Values in 2021 Squad

In [18]:
df[df['2021 Squad'].isnull()]

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
6,Yash Dayal,20 Lakh,BOWLER,3.2,416.0,NaN,Gujarat Titans
9,Abhinav Sadarangani,20 Lakh,BATTER,2.6,338.0,NaN,Gujarat Titans
10,Matthew Wade,2 Cr,WICKETKEEPER,2.4,312.0,NaN,Gujarat Titans
11,Alzarri Joseph,75 Lakh,BOWLER,2.4,312.0,NaN,Gujarat Titans
17,Varun Aaron,50 Lakh,BOWLER,0.5,65.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...
628,Sairaj Patil,20 Lakh,BATTER,0.0,0.0,NaN,Unsold
629,Monu Singh,20 Lakh,BOWLER,0.0,0.0,NaN,Unsold
630,Nivethan Radhakrishnan,20 Lakh,BOWLER,0.0,0.0,NaN,Unsold
631,Lance Morris,20 Lakh,BOWLER,0.0,0.0,NaN,Unsold
632,Aaron Hardie,20 Lakh,ALL-ROUNDER,0.0,0.0,NaN,Unsold

These are the Players who either went Unsold in 2021 IPL or participating for the first time in IPL

In [19]:
df['2021 Squad'] = df['2021 Squad'].fillna('Not Participated in IPL 2021')

In [20]:
df.isnull().sum()

Player             0
Base Price         0
TYPE               0
COST IN ₹ (CR.)    0
Cost IN $ (000)    0
2021 Squad         0
Team               0
dtype: int64

We replaced all the null values

Now we will add and Adjust few columns for further Analysis

In [21]:
teams = df[df['COST IN ₹ (CR.)']>0]['Team'].unique()
teams

array(['Gujarat Titans', 'Chennai Super Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Punjab Kings', 'Lucknow Super Giants',
       'Mumbai Indians', 'Royal Challengers Bangalore',
       'Rajasthan Royals', 'Sunrisers Hyderabad'], dtype=object)

In [22]:
df['status'] = df['Team'].replace(teams,'sold')

In [23]:
df['Base Price'].unique()

array(['Draft Pick', '2 Cr', '40 Lakh', '20 Lakh', '1 Cr', '75 Lakh',
       '50 Lakh', '30 Lakh', 'Retained', '1.5 Cr'], dtype=object)

In [24]:
df['retention'] = df['Base Price']

In [25]:
df['retention'].replace(['2 Cr', '40 Lakh', '20 Lakh', '1 Cr', '75 Lakh',
       '50 Lakh', '30 Lakh','1.5 Cr'],'In Auction', inplace = True)

Treating Base Price Column

In [26]:
df['Base Price'].replace('Draft Pick',0, inplace = True)

In [27]:
df['base_price_unit'] = df['Base Price'].apply(lambda x: str(x).split(' ')[-1])
df['base_price'] = df['Base Price'].apply(lambda x: str(x).split(' ')[0])

In [28]:
df['base_price'].replace('Retained',0,inplace=True)

In [29]:
df['base_price_unit'].unique()

array(['0', 'Cr', 'Lakh', 'Retained'], dtype=object)

In [30]:
df['base_price_unit'] = df['base_price_unit'].replace({'Cr':100,'Lakh':1,'Retained':0})

In [31]:
df['base_price'] = df['base_price'].astype(float)
df['base_price_unit'] = df['base_price_unit'].astype(int)

In [32]:
df['base_price'] = df['base_price']*df['base_price_unit']

In [33]:
df.head()

,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team,status,retention,base_price_unit,base_price
0,Rashid Khan,0,BOWLER,15.0,1950.0,SRH,Gujarat Titans,sold,Draft Pick,0,0.0
1,Hardik Pandya,0,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans,sold,Draft Pick,0,0.0
2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans,sold,In Auction,100,200.0
3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans,sold,In Auction,1,40.0
4,Shubman Gill,0,BATTER,8.0,1040.0,KKR,Gujarat Titans,sold,Draft Pick,0,0.0

In [34]:
df.drop(['Base Price','base_price_unit'], axis =1, inplace = True)

In [35]:
df

,Player,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team,status,retention,base_price
0,Rashid Khan,BOWLER,15.0,1950.0,SRH,Gujarat Titans,sold,Draft Pick,0.0
1,Hardik Pandya,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans,sold,Draft Pick,0.0
2,Lockie Ferguson,BOWLER,10.0,1300.0,KKR,Gujarat Titans,sold,In Auction,200.0
3,Rahul Tewatia,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans,sold,In Auction,40.0
4,Shubman Gill,BATTER,8.0,1040.0,KKR,Gujarat Titans,sold,Draft Pick,0.0
...,...,...,...,...,...,...,...,...,...
628,Sairaj Patil,BATTER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
629,Monu Singh,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
630,Nivethan Radhakrishnan,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
631,Lance Morris,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
632,Aaron Hardie,ALL-ROUNDER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0

In [36]:
df['COST IN ₹ (CR.)'] = df['COST IN ₹ (CR.)']*100

In [38]:
df = df.rename(columns={'TYPE':'Type','COST IN ₹ (CR.)':'Sold_for_lakh','Cost IN $ (000)':'Cost_in_dollars','2021 Squad':'Prev_team','Team':'Curr_team'})

In [39]:
df.head()

,Player,Type,Sold_for_lakh,Cost_in_dollars,Prev_team,Curr_team,status,retention,base_price
0,Rashid Khan,BOWLER,150000.0,1950.0,SRH,Gujarat Titans,sold,Draft Pick,0.0
1,Hardik Pandya,ALL-ROUNDER,150000.0,1950.0,MI,Gujarat Titans,sold,Draft Pick,0.0
2,Lockie Ferguson,BOWLER,100000.0,1300.0,KKR,Gujarat Titans,sold,In Auction,200.0
3,Rahul Tewatia,ALL-ROUNDER,90000.0,1170.0,RR,Gujarat Titans,sold,In Auction,40.0
4,Shubman Gill,BATTER,80000.0,1040.0,KKR,Gujarat Titans,sold,Draft Pick,0.0

We will Check Duplicate Players

In [40]:
df[df['Player'].duplicated(keep=False)]

,Player,Type,Sold_for_lakh,Cost_in_dollars,Prev_team,Curr_team,status,retention,base_price
62,Lalit Yadav,ALL-ROUNDER,6500.0,84.5,DC,Delhi Capitals,sold,In Auction,20.0
240,Amit Mishra,BOWLER,0.0,0.0,DC,Unsold,Unsold,In Auction,150.0
499,Amit Mishra,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
518,Shivam Sharma,ALL-ROUNDER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
530,Lalit Yadav,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
537,Shubham Singh,ALL-ROUNDER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
544,Shubham Singh,BOWLER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0
569,Shivam Sharma,ALL-ROUNDER,0.0,0.0,Not Participated in IPL 2021,Unsold,Unsold,In Auction,20.0

Yes There are duplicate rows but the fact is that the names of players are same but the Players are different